{% extends 'base.html.twig' %}

{% block title %}Edit OrderRecord{% endblock %}

{% block body %}
    <h1>Edit OrderRecord</h1>

    {{ include('order_record/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_order_record_index') }}">back to list</a>

    {{ include('order_record/_delete_form.html.twig') }}
{% endblock %}
