{% extends 'base.html.twig' %}

{% block title %}New OrderRecord{% endblock %}

{% block body %}
    <h1>Create new OrderRecord</h1>

    {{ include('order_record/_form.html.twig') }}

    <a href="{{ path('app_order_record_index') }}">back to list</a>
{% endblock %}
