{% extends 'base.html.twig' %}

{% block title %}New OrderRecord{% endblock %}

{% block body %}
    <turbo-frame id="order-record-form">
        <h1 class="mb-3">Dodaj nowy rekord</h1>
        {{ include('order/record/_form.html.twig') }}
    </turbo-frame>
{% endblock %}
